.nav-item {
    position: relative;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    z-index: 2;
}

.active-pill {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    background-color: #9f1239;
    border-radius: 20px;
    height: 100%;
    width: 100px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    opacity: 0;
}

.nav-content::before
{
    position: absolute;
    right: 0;
    content: "";
    z-index: 1;
    border-top: 70px solid transparent;
    border-right: 20px solid #1c1917;
}

/*Slide In/Out Animation Logic*/
.text-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    min-height: 100%;
    flex-grow: 1;
    justify-content: center;
}

@keyframes slide-out {
    from { transform: translateX(0); }
    to { transform: translateX(100vw); }
}

@keyframes slide-in {
    from { transform: translateX(-100vw); }
    to { transform: translateX(0); }
}

.text-out {
    animation: slide-out 0.5s forwards; /* Ensures the element stays at the end state */
}

.text-in {
    position: absolute;
    animation: slide-in 0.5s forwards;
}